@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('homepage.jpg') no-repeat;
    background-position:center;
    background-size:auto;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

}

.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;

}

h1{
    font-family: 'Muli', sans-serif;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size:  10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
}

section{
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    padding: 5rem 0;
}

.secHeading{
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    padding: 0 10rem;
    
}

.text{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.desc{
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50) translateY(-50);
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}

.bg1{
    background-image: url('sport-1.jpg');
}

.bg2{
    background-image: url('sport-2.jpg');
}

.bg3{
    background-image: url('sport-3.jpg'); 
}
 
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color:black
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: centre;
    overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease, height .2s ease;
    bottom: 80%;
    left: 38%;
}

.wrapper.active-popup {
    transform: scale(1);
}


.wrapper.active {
    height: 500px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: white;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size:2em;
    color: whitesmoke;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}



.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;

}


.remember-forgot {
 font-size: .9em;
 color: whitesmoke;
 font-weight: 500;
 margin: -15px 0 15px;
 display: flex;
 justify-content: space-between;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
    
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.btn {
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font: bolder;
    color: black;
    font-weight: 500;
}


.login-register {
    font-size: .9em;
    color:white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;

}


.wrapper.register {
    max-height: 400px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.wrapper.active .form-box.register {
    height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    transition: transform .18s ease;
    transform: translateX(0);
}


.center-text {
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100; /* Ensure it's above other content */
    color: white; /* Adjust text color as needed */
}

/* CSS for the center box */
.center-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(244, 241, 241, 0.8);
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the box is above other content */

}

/* CSS for parallax effect */
body {
    background-image: url('homepage.jpg'); /* Replace 'background.jpg' with your image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* Optional: Add styles to the rest of your elements */

.center-box p {
    margin-bottom: 20px; /* Add space after each paragraph */
}


.matching {
    color: green;
}


#passwordMatchIcon {
    position: absolute;
    top: 50%;
    left: -15px; /* Adjust this value as needed */
    transform: translateY(-50%);
    color: red; /* Initially set to red */
  }

 #mobileNumberValidationIcon{
    position: absolute;
    top: 50%;
    left: -15px; /* Adjust this value as needed */
    transform: translateY(-50%);
    color: red; /* Initially set to red */
  }


  